{{ "<!-- portfolio -->" | safeHTML }}
<section id="two">
	{{ with .Site.Params.portfolio.title }}<h2>{{ . | markdownify }}</h2>{{ end }}
	<div class="row">
		{{ range .Site.Params.portfolio.gallery }}
		<article class="6u 12u$(xsmall) work-item">
			<a href="{{ .url }}" target="_blank" class="fit thumb rounded"><img src="{{ $.Site.BaseURL }}images/{{ .thumb }}" alt="" /></a>
			<h3>{{ .title | markdownify }}</h3>
			<p>{{ .description | markdownify }}</p>
		</article>
		{{ end }}
	</div>
	<div class="row">
		{{ range .Site.Params.portfolio.lib }}
		<article class="12u 12u$(xsmall) work-item">
			<a href="{{ .url }}" target="_blank" class="fit thumb rounded"><img src="{{ $.Site.BaseURL }}images/{{ .thumb }}" alt="" /></a>
			<h3>{{ .title | markdownify }}</h3>
			<p>{{ .description | markdownify }}</p>
		</article>
		{{ end }}
	</div>
</section>
